.card {
  border: 1px solid limegreen;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.5);
  background-color: slategray;
}

.bar {
  background-color: snow;
  padding: 10px;
}

.btn {
  margin-top: 10px;
  height: 25px;
  border-radius: 3px;
}
